.container-md {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  text-align: center;
  font-family: sans-serif;
  color: #4e4e4e;
  margin: 25px 10px 25px 10px;
}

li {
  text-decoration: none;
}

@media (min-width: 576px) {
}
