li {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  list-style: none;
}

ul {
  margin: 0;
}

li {
  text-decoration: none;
}

hr {
  background-color: #999;
  opacity: 0.4;
}

.card-block {
  background-color: 0;
  border-radius: 10px;
  max-height: 300px;
  min-height: 300px;
}

.container-md {
  background-image: linear-gradient(180deg, #243949 0, #517fa4);
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #f1f1f1;
  margin: 25px auto;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-md h1 {
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px;
}

#temperature {
  font-size: 10em;
  font-weight: 500;
}

.container-md h4 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 400;
}

.container-md h3 {
  font-size: 25px;
  margin: -10px;
  padding-top: 14px;
  float: left;
  position: relative;
}

.date {
  color: #cccccc;
  font-size: 1.5em;
}

.form-control {
  opacity: 0.25;
  display: inline;
  margin: 25px;
}

.btn {
  margin: 25px;
}

btn:hover {
  color: #243949;
}

.degreeIcon {
  font-weight: 100;
  font-size: 1em;
}
