li {
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
  text-align: left;
  list-style: none;
}

ul {
  margin: 0;
}

li {
  text-decoration: none;
}

.container-md {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  color: #4e4e4e;
  margin: 25px 10px 25px 10px;
  margin: 25px auto;
  min-width: 300px;
}

.container-md h1 {
  font-weight: 600;
  text-transform: uppercase;
  padding: 25px;
}

#temperature {
  font-size: 4em;
}

.container-md h4 {
  font-size: 1.5em;
  text-transform: capitalize;
}

.container-md h3 {
  padding: 10px;
}

.date {
  color: #949494;
}

.form-control {
  opacity: 0.25;
  display: inline;
  border-radius: 5px;
  margin: 25px;
}

.btn {
  opacity: 0.9;
  margin: 25px;
}

@media (min-width: 576px);
