li {
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
  text-align: left;
  list-style: none;
}

ul {
  margin: 0;
}

li {
  text-decoration: none;
}

hr {
  background-color: #f1f1f1;
  opacity: 0.4;
}

.card-block {
  background-color: rgba(245, 245, 245, 0.02);
  border-radius: 10px;
}

.card-footer {
  background-color: rgba(245, 245, 245, 0.4);
}

.container-md {
  background-image: linear-gradient(180deg, #243949 0, #779dbd);
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 200;
  font-size: 10px;
  color: #f1f1f1;
  margin: 25px auto;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-md h1 {
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px;
}

#temperature {
  font-size: 10em;
  font-weight: 500;
}

.container-md h4 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 200;
}

.container-md h3 {
  padding-bottom: 25px;
}

.date {
  color: #cccccc;
  font-size: 1.5em;
}

.form-control {
  opacity: 0.25;
  display: inline;
  border-radius: 5px;
  margin: 25px;
}

.btn {
  opacity: 0.9;
  margin: 25px;
}
